[user]
	name = shevpro-cmyk
	email = 142254340+shevpro-cmyk@users.noreply.github.com
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
